RAILS_LOG_TO_STDOUT=false
RAILS_SERVE_STATIC_FILES=true
SESSION_DAYS_TRIM_THRESHOLD=7

WAIT_HOSTS=db:5432
WAIT_BEFORE_HOSTS=5

OWNYOURDAY_DB_HOST=db
OWNYOURDAY_DATABASE_HOST=db
OWNYOURDAY_DATABASE_USERNAME=
OWNYOURDAY_DATABASE_PASSWORD=

SECRET_KEY_BASE=
NEW_RELIC_LICENSE_KEY=no
AWS_REGION=ca-central-1
S3_BUCKET_NAME=ownyourday-public
FEATURE_FLAGS_USERS_REGISTRATION_ALLOW_LIST=true