<div class="flex flex-col m-auto text-center text-2xl h-full items-center justify-center">
  <p class=""><%= t('goals.no_goals')%></p>
  <p><%= raw t('goals.create_a_goal', link: link_to('here' ,new_goal_path, class: "font-bold text-indigo-500")) %></p>
</div>
