<div class="flex border rounded p-4 cursor-pointer border-gray-200 select-none">
  <div class="w-full">
    <%= link_to edit_goal_path(goal) do %>
      <p class="text-3xl cursor-pointer select-none w-full">
        <%= goal.name %>
      </p>
    <% end %>
  </div>
</div>
