<div class="flex border rounded-lg p-4 cursor-pointer border-gray-200 hover:border-gray-400">
  <div class="w-full">
    <%= link_to goal_path(goal) do %>
      <p class="text-3xl cursor-pointer select-none w-full">
        <%= goal.name %>
      </p>
    <% end %>
  </div>
</div>
