<%= link_to @path do %>
  <div class="py-2 content-center cursor-pointer select-none">
    <p class="<%="text-#{text_color} font-semibold text-4xl tracking-wide"%>">
      <%= @title %>
    </p>
  </div>
<% end %>
