<div class="flex justify-between">
  <%= render 'layouts/page_header', header: t('goals.header') %>
  <%= link_to t('goals.new_button'), new_goal_path, class: primary_button  %>
</div>

<%= render 'goals/goal_list' %>
