<div class="<%="my-4 bg-#{color}-100 border-t-4 border-#{color}-500 rounded-b text-#{color}-900 px-4 py-3 shadow-sm" %>" role="alert">
  <div class="flex">
    <div>
      <p class="font-bold"><%= @message %></p>
    </div>
  </div>
</div>
